<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title landing
    link(rel="stylesheet", href="css/main.min.css")
    script(src="js/main.min.js")
  body
    include section/header 
    include section/hero
    include section/about
    include section/approch
    include section/work
    include section/form
    include section/footer
